/********************/
/*   Common style   */
/********************/

#openUpload, #closeUpload {
	border-radius: 50%;
	padding: .5em;
	position: fixed;
	bottom: 30px;
	right: 30px;
	box-shadow: 0 1px 5px #777;
}

#openUpload i, #closeUpload i {
	margin: .5em;
	font-size: 1.2em;
}

#index table, #upload, #index #accordion {
	margin-top: 2em;
}

.tooltip-inner {
  background-color: #222 !important;
  color: #fff;
	font-size: 0.8em;
}
